<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branching Interactive Nodes</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>

<div class="welcome">Welcome Admin</div>

</br>


<div class="tree">
    <div class="branch">
        <div class="node" data-action="Manage Volunteers" data-route="/sdp/DonationModule/Views/DonationTypesView.php">Manage Volunteers</div>
        <div class="node" data-action="Add Event" data-route="/sdp/EventModule/View/new_event_view.html">Add Event</div>
<!--        <div class="node" data-action="Volunteer" data-route="pay.php">Pay</div>-->
    </div>
</div>



<div id="response"></div>
<script src = "../controller/user_options.js"></script>
</body>
</html>
