<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branching Interactive Nodes</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>

<div class="tree">
    <div class="branch">
        <div class="node" data-action="Donate" data-route="/sdp/DonationModule/Views/DonationTypesView.php">Donate</div>
        <div class="node" data-action="Attend Event" data-route="/sdp/user_event/attend_event.php">Attend Event</div>
        <div class="node" data-action="Volunteer" data-route="pay.php">Pay</div>
    </div>
</div>



<div id="response"></div>
<script src = "../controller/user_options.js"></script>
</body>
</html>
